body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#photobackground{
  background-image: url(IMAGES/image1.jpg);
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding-top: 5em 0;
  padding-bottom: 6em 0;
  margin-bottom: 20em 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-product-form {
  background: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 50px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, select, textarea, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}